# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

stud_duomenys/studentai100000.txt
stud_duomenys/studentai1000000.txt
stud_duomenys/desktop.ini
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
*.7z
*.zip
/isskaidymas/build

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
/isskaidymas/.vscode
/kodas_3_spr/.vscode
/kodas_1_spr/.vscode
/kodas_2_spr/.vscode
/kodas_klases/.vscode
/.vscode
/kodas_klases/build
project_root/src/txt_failai/studentai1000000.txt
/project_root/src/txt_failai
